@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

@section Scripts{
    <script>
        $(function () {
            $.ajax({
                url: "/ContentGiver?type=tlw",
                cache: false
            })
            .done(function (html) {
                $("#lorem").append(html);
            });
        })
    </script>
}

<div id="lorem">

</div>
